<h1>Listing assessments</h1>

<table>
  <thead>
    <tr>
      <th>Complaints</th>
      <th>Clinical</th>
      <th>Investigation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= assessment.Complaints %></td>
        <td><%= assessment.Clinical %></td>
        <td><%= assessment.Investigation %></td>
        <td><%= link_to 'Show', assessment %></td>
        <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
        <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment', new_assessment_path %>
