	<div class="container main-block">
		<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
		<div class="bannercontainer" >
			<!--  Image Carousel here  -->
			<!--  Carousel - consult the Twitter Bootstrap docs at
			http://twitter.github.com/bootstrap/javascript.html#carousel -->
			<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
				<div class="carousel-inner">
<!-- 					<div class="item active">
						<%#= image_tag("slider01.jpg") %>
						<div class="carousel-caption">
							<p>Caption text here</p>
						</div>
					</div> -->
					<div class="item">
						<%= image_tag("slider09.png") %>
<!-- 						<div class="carousel-caption">
							<p>Caption text here</p>
						</div> -->
					</div>
					<div class="item active">
						<%= image_tag("slider10.png") %>
<!-- 						<div class="carousel-caption">
							<p>Caption text here</p>
						</div> -->
					</div>
					<div class="item">
						<%= image_tag("slider05.jpg") %>
<!-- 						<div class="carousel-caption">
							<p>Caption text here</p>
						</div> -->
					</div>
					<div class="item">
						<%= image_tag("slider06.jpg") %>
<!-- 						<div class="carousel-caption">
							<p>Caption text here</p>
						</div> -->
					</div>
					<div class="item">
						<%= image_tag("slider07.jpg") %>
<!-- 						<div class="carousel-caption">
							<p>Caption text here</p>
						</div> -->
					</div>
					<div class="item">
						<%= image_tag("slider08.jpg") %>
<!-- 						<div class="carousel-caption">
							<p>Caption text here</p>
						</div> -->
					</div>
				</div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
  href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div>
<div class="row main-block">
	<div class="span12">
		<div class="row">
			<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
			<div class="span6 home-block hero-block-1">
				<h1>Welcome to POACC!</h1>
				<h2>Pakistan Orthopaedic
					&
					Cosmetology Center</h2>
					<p>First time in Pakistan, Pakistan Orthopaedic and Cosmetology Center has launched a new chapter of Orthopaedic aesthetic surgery - Orthopaedic Cosmetology. It covers all Orthopaedic related deformities using state of the art technologies and providing the highest standard of quality care to our customers. </p>
					<br />
					<p>
						A series of unique cosmetological surgical procedures are performed at Pakistan Orthopaedic and Cosmetology Center for: height increase, limb length discrepancies, deformities and muscle imbalances  as a result of poliomyelitis, cerebral palsy and other paralysis; correction of leg shapes, surgery of deformation in anterior part of the feet, deformities as a result of neglected and mismanaged Orthopaedic trauma. The treatment is held using state of the art technologies including computer assisted methods. 
					</p>
				</div>
				<!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
				<div class="span1">
				</div>
				<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
				<div class="span5 home-block">
					<div class="grey-box hero-block-2">
						<h2><%= link_to "Request an appointment",:controller => "appointments", :action => "index" %></h2>
						<p>Request an appointment with us today!</p>
						<%= link_to "Book now", {:controller => "appointments", :action => "index"}, :class => "btn btn-warning" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row main-block index1">
		<div class="span12">
			<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
			<div class="row show-grid hero-list">
				<div class="span3">
					<div class="image-wrapper">
						<div class="img">
							<%= image_tag ("ruler.png") %>
						</div>
					</div>
					<div class="image-text">
						<h2>Post Polio Paralysis</h2>
						<p>The only comprehensive body in pakistan providing full rehabilitation post polio paralysis patients.
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="span3">
					<div class="image-wrapper">
						<div class="img">
							<%= image_tag ("equaliser.png") %>
						</div>
					</div>
					<div class="image-text">
						<h2>Limb lenghting</h2>
						<p>The only facility providing comprehnsive clean approach and quality care for limb lenghting and also height increase  <a href="www.hillsclinic.com">(www.hillsclinic.com)</a> pioneer in providing densitometry services in kpk pakistan.
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="span3">
					<div class="image-wrapper">
						<div class="img">
							<%= image_tag ("direction.png") %>
						</div>
					</div>
					<div class="image-text">
						<h2>Orthopaedic Cosmotology</h2>
						<p>Pioneer in introducing and estabilishing a fully equipped and comprehensive body and organization for orthopaedic cosmotolgy where all physical orthopaedic disfigurements are dealt with perfection and aesthetics.
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="span3">
					<div class="image-wrapper">
						<div class="img">
							<%= image_tag ("both_arrows.png") %>
						</div>
					</div>
					<div class="image-text">
						<h2>Medical Tourism</h2>
						<p>The only facilty in kpk pakistan recieving international patients and providing them with medical tourism.
						</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="horizontal-divider span12"></div>
	</div>
	<!-- MAIN CONTENT AREA: bizstrap CUSTOM - PORTFOLIO GRID BLOCK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
<!-- 	<div class="portfolio-grid-1 main-block">
		<div class="title-wrapper">
			<h2>Some of our treatments</h2><a class="all" href="index.html#">Show all &nbsp;&raquo;</a>
		</div>
		<div class="clear-both"></div>
		<div id="home_responsive" class="row show-grid">
			<div class="span3 small hp-wrapper">
				<a class="top-link fancy" href="img/gal_2.jpg"><%#= holder_tag '220x160' %></a>
				<div class="bottom-block">
					<a href="index.html#">Post Polio Paralysis</a>
					<p>Orthopaedics</p>
				</div>
			</div>
			<div class="span6 middle hp-wrapper">
				<a class="top-link fancy" href="img/img05.jpg">
					<%#= holder_tag '460x160'%>
				</a>
				<div class="bottom-block">
					<a href="index.html#">Wound Care</a>
					<p>Orthopaedics</p>
				</div>
			</div>
			<div class="span6 middle hp-wrapper">
				<a class="top-link fancy" href="img/img07.jpg"><%#=holder_tag '460x160'%></a>
				<div class="bottom-block">
					<a href="index.html#">Liposuction</a>
					<p>Cosmetology</p>
				</div>
			</div>
			<div class="span3 small hp-wrapper">
				<a class="top-link fancy" href="img/gal_7.jpg"><%#= holder_tag '220x160' %></a>
				<div class="bottom-block">
					<a href="index.html#">Feet Deformity</a>
					<p>Cosmetology</p>
				</div>
			</div>
		</div>
	</div> -->
	<hr>
	<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HORIZONTAL TESTIMONIAL BLOCK -->
	<div class="main-block testimonials">
		<div class="title-wrapper">
			<h2>Testimonials</h2><a href="index.html#" class="all">View Testimonials&nbsp;&raquo;</a>
		</div>
		<div class="clear-both"></div>
		<div class="row show-grid">
			<div class="span12">
				<div class="testimonials-block">
					<div class="quote"></div>
					<p class="first-row">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>Cras mattis consectetur purus sit amet fermentum.</p>
					<p></p>
					<p class="autor">Mr.Sam , Manager</p>
				</div>
			</div>
		</div>
		<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 3 -->
		<div class="row show-grid">
			<div class="span12 grey-box">
				<div class="hero-block3">
					<div class="row show-grid">
						<div class="span9">
							<div class="hero-content-3">
								<h2>Book an Appointment Today!</h2>
								<p>Its very easy to book an appointment with us whether you are an existing or new patient.</p>
							</div>
						</div>
						<div class="span3">
							<div class="tour-btn">
								<%= link_to "Book now", {:controller => "appointments", :action => "index"}, :class => "btn btn-warning" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
</div>