<% content_for :title do %>
<%= @photo_album.title %> | <%= Spud::Core.site_name %>
<% end %>

<% content_for :head do %>

<% end %>
<div class="container main-block">
  <div class="page-header">
    <h1>Photo Album<small> <%= @photo_album.title %></small></h1>
  </div>
  <div class="row-fluid">
    <% if @photo_gallery %>
    <% if @photo_gallery.albums.count == 1 %>
    <p><%= link_to 'Back to Galleries', photo_galleries_path %>
      <% else %>
      <p><%= link_to 'Back to Gallery', photo_gallery_photo_albums_path(@photo_gallery.url_name) %>
        <% end %>
        <% else %>
        <p><%= link_to 'Back to Albums', photo_albums_path %>
          <% end %>
        </div>
        <div class="row" id="spud_photo_galleries">
          <% @photo_album.photos.each do |photo| %>
          <div class="span3">
            <div class="spud_photo_album_thumbnail">
              <%#= link_to image_tag(photo.photo.url(:medium), :alt => photo.caption, :title => photo.title), photo.photo.url, :rel => "lightbox" %>
              <%= lightbox_tag(photo.photo.url(:medium), photo.photo.url,title=photo.title, collection="pics") %>
              <%#= link_to "image1", photo.photo.url(:large), :data => { :colorbox => true, :colorbox_photo => true } %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>