<div class="container">
	<div class="page-header">
		<h1>Request date and time of appointment <small>We will contact you for confirmation</small></h1>
	</div>
	<%= form_tag("/appointments/create",method: "post") do %>
		<%= label_tag(:request_date, "Select Date") %>
		<%= select_date Date.today, prefix: :request_date %>
		<%= label_tag(:request_time , "Select Time") %>
		<%= select_time Time.now, prefix: :request_time %>
		<br />
		<%= submit_tag("Request Appointment") %>
	<% end %>
</div>