<!DOCTYPE html>
<html>
<head>
	<title>POACC</title>
	<meta name="keywords" content="orthopaedic cosmotology" />
	<meta name="description" content="" />
	<meta name="author" content="SweetPixel Studios" />
	<meta name="robots" content="follow, index" />
	<!--  SEO STUFF END -->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--  revolution slider plugin : begin -->
	<%= stylesheet_link_tag  "application", media: "all" %>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
	<%= csrf_meta_tags %>
	
</head>
<body>
	<div id="out_container">
		<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
		<div class="top_line"></div>
		<!-- HEADER AREA -->
		<div class="container">
			<%= nav_bar :fixed => :top, :brand => "POACC", :responsive => true do  %>
			<%= menu_group do %>
			<%= menu_item "HOME", root_path %>
			<%= drop_down "ABOUT" do %>
			<%= menu_item "ABOUT US", "/home/about" %>
			<%= menu_item "OUR TEAM", "/team" %>
			<%= menu_item "PRACTICES", "/practices/index" %>
			<% end %>
			<%= menu_divider %>
			<%= drop_down "COSMETOLOGY" do %>
			<%= menu_item "CORRECTING TOES", "/home/correctingtoes" %>
			<%= menu_item "INCREASING HEIGHT", "/home/heightincrease" %>
			<% end %>
			<%= menu_divider %>
			<%= drop_down "TREATMENTS" do %>
			<%= menu_item "TRAUMA", "/home/trauma" %>
			<%= menu_item "WOUND CARE", "/home/woundcare" %>
			<%= menu_item "BONE HEALTH", "/home/bonehealth" %>
			<% end %>
			<%= menu_divider %>
			<%= menu_item "PHOTO GALLERY", "/photos" %>
			<%= drop_down "GET CONNECTED" do %>
			<%= menu_item "OUR LINKS", "/home/ourlinks" %>
			<%= menu_item "FELLOWSHIPS", "/home/fellowships" %>
			<%= menu_item "JOBS", "/home/jobs" %>
			<%= menu_item "CHARITY PROJECTS", "/home/charityprojects" %>
			<%= menu_item "FAQs", "/home/faq" %>
			<% end %>
			<%= menu_divider %>
			<%= menu_item "CONTACT", "/home/contact" %>
			<%= menu_divider %>
			<% end %>
			<% end %>
		</div>
		<!-- MAIN CONTENT AREA -->
		<div class="main-content">
			<%= yield %>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer id="footer">
			<div class="footer-top"></div>
			<div class="footer-wrapper">
				<div class="container">
					<div class="row show-grid">
						<!-- <div class="span12"> -->
						<div class="row show-grid main-block">
							<!-- FOOTER: LOGO -->
							<div class="span4">
								<!-- <img alt="" class="footer-logo" src="/assets/poacc-logo.png" /> -->
								<!-- FOOTER: ADDRESS -->
								<address class="address">
									<p><i class="icon-map-marker icon-large"></i>POACC</p>
									<p><i>&nbsp;</i>Room 12</p>
									<p><i>&nbsp;</i>Mariam Memorial Hospital
										Westridge Peshawar Road,RawalPindi</p>
										<p><i class="icon-phone icon-large"></i>Phone 1: +923339113796</p>
										<p><i class="icon-phone icon-large"></i>Phone 2: +923015943329</p>
										<p><i class="icon-phone icon-large"></i>Phone 3: +923139825661</p>
									</address>
								</div>
								<!-- FOOTER: ABOUT US -->
								<div class="span4 footer-center">
									<h4 class="center-title">About Us</h4>
									<p>We strive for quality care, provide best standard services and innovative methods
										of management for complex clinical situations in trauma, orthopaedics and cosmetology. We are located at Peshawar, the ancient and well known tourist city of Pakistan. Our Head Office is at Dabgaree Gardens, Peshawar linked with satellite clinics within and around Peshawar.</p>
										<%= social_share_button_tag("Pakistan Orthopaedic and Cosmetology Center - www.poacc.com", :url => "http://www.poacc.com") %>
									</div>
									<!-- FOOTER: NAVIGATION LINKS -->
									<div class="span4 footer-right">
										<h4 class="center-title">Navigate</h4>
										<ul class="footer-navigate">
											<li>
												<%= link_to "Home","/home/index" %>
											</li>
											<li>
												<a href="/home/about">About</a>
											</li>
											<li>
												<a href="/staffs/index">Staff</a>
											</li>
											<li>
												<a href="/home/jobs">Jobs</a>
											</li>
											<li>
												<a href="/home/contact">Contact us</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="container">
							<div class="row show-grid">
								<!-- FOOTER: COPYRIGHT TEXT -->
								<div class="span12">
									<p> Developed and maintained by <a href="http://www.sweetpixelstudios.com">SweetPixel Studios</a>. Copyright 2013.</p>
									<hr>
								</div>
							</div>
						</footer>
						<!-- END FOOTER -->
					</div>
				</div>
				<%= javascript_include_tag "application" %>
				<%= yield :scripts %>
				<%= yield :tsjs %>
				<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-43336332-1', 'poacc.com');
				ga('send', 'pageview');

				</script>
				<div id="lightbox" class="lightbox">
					<div class="lb-outerContainer">
						<div class="lb-container">
							<img class="lb-image" src="img/demopage/image-2.jpg">
							<div class="lb-nav" style="display: block; ">
								<a class="lb-prev" href="" style="display: none; ">
								</a>
								<a class="lb-next" href="" style="display: none; ">
								</a>
							</div>
							<div class="lb-loader" style="display: none; ">
								<a class="lb-cancel"></a>
							</div>
						</div>
					</div>
					<div class="lb-dataContainer" style="display: block; width: 246px; ">
						<div class="lb-data">
							<div class="lb-details">
								<span class="lb-caption" style="display: inline; ">Optional caption.</span>
								<span class="lb-number" style="display: none; "></span>
							</div>
							<div class="lb-closeContainer">
								<a class="lb-close"></a>
							</div>
						</div>
					</div>
				</div>
			</body>
			</html>
